
.content-section {
    
    padding: 60px 20px;
    max-width: 900px;
    margin: 50px;
    background-color: white;

}

.h1 {
    display:flex;
    flex-direction: column;
    align-items: center;


}

*{
    box-sizing: border-box;
}

body{
    margin:0;
    background-color: whitesmoke;
    color:#333;
    padding: 0px 20px;

}

main{
    width: 100%;
    padding-top:20px;
}